{% load leaflet_tags %}
{% load geojson_tags %}
{% load static %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <style>
        .leaflet-container {
            height: 100%;
        }

        .info {
            padding: 8px 10px;
            font: 16px/18px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>

    <script type="text/javascript">
        String.prototype.format = function () {
            a = this;
            for (k in arguments) {
                a = a.replace("{" + k + "}", arguments[k])
            }
            return a
        };

        const redIcon = new L.Icon({
            iconUrl: "{% static 'marker-icon-2x-red.png' %}",
            shadowUrl: "{% static 'marker-shadow.png' %}",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        const blueIcon = new L.Icon({
            iconUrl: "{% static 'marker-icon-2x-blue.png' %}",
            shadowUrl: "{% static 'marker-shadow.png' %}",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        let parkings = {{ parkings|geojsonfeature:"get_button_name,pk,description,free"|safe }};

        function onEachFeature(feature, layer) {
            let action_url = 'edit/{0}'.format(feature.properties.pk);
            let button_name = feature.properties.get_button_name;
            let form = "<form method='POST' action='{0}'> <button type='submit'> {1} </button> </form>".format(action_url, button_name);
            let content = "<center> <h3> {0} <h3> {1} <center>".format(feature.properties.description, form);

            layer.bindPopup(content);
        }

        function pointToLayer(feature, latlng) {
            if (feature.properties.free) {
                return L.marker(latlng, {icon: blueIcon});
            }
            return L.marker(latlng, {icon: redIcon});
        }

        function createLegend(map) {
            let legend = L.control({position: 'topright'});
            legend.onAdd = function () {
                let div = L.DomUtil.create('div', 'info legend');
                let labels = ['<strong>Parkings</strong>'];
                div.innerHTML += labels.push('<i class="circle" style="background:#de2d26"></i> ' + ("Occupied: {{ occupied_count }}"));
                div.innerHTML += labels.push('<i class="circle" style="background:#377eb8"></i> ' + ("Free: {{ free_count }}"));
                div.innerHTML = labels.join('<br>');
                return div;
            };
            legend.addTo(map);
        }

        function resetView(map, bounds) {
            let reset = document.getElementsByClassName('leaflet-control-zoom-out leaflet-bar-part')[0];
            reset.addEventListener("click", function () {
                map.fitBounds(bounds);
            });
        }

        window.addEventListener("map:init", function (event) {
            let map = event.detail.map;
            let markers = L.markerClusterGroup();
            let geoJsonLyaer = L.geoJSON(parkings, {onEachFeature: onEachFeature, pointToLayer: pointToLayer});

            createLegend(map);

            markers.addLayer(geoJsonLyaer);
            map.addLayer(markers);
            let bounds = markers.getBounds();
            map.fitBounds(bounds);
            resetView(map, bounds);
        });
    </script>

    <meta charset="UTF-8">
    <title> Parking </title>
</head>
<body>
{% leaflet_map "parkings" %}
</body>
</html>
